

<div class="import">

    <h2>Activity Overview</h2>

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label for="selectedDate">Start date</label>
            <p class="input-group">
                <input id="selectedDate" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.selectedDate" ng-required="true" close-text="Close" is-open="vm.isOpen" ng-change="vm.importAll()"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.isOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <hr/>

    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Issue number</th>
            <th>Issue summary</th>
            <th>Message</th>
            <th>Action</th>
        </tr>

        <tbody ng-repeat="eventDate in vm.processedEvents">

            <tr ng-repeat="event in eventDate.events">
                <td>{{eventDate.key | date:'yyyy-MM-dd'}}</td>
                <td>{{event.project}}</td>
                <td>{{event.issueNumber}}</td>
                <td>{{event.issueSummary}}</td>
                <td>
                    <pre ng-bind-html="event.message"></pre>
                </td>
                <td>{{vm.getProject(event)}}</td>
            </tr>
        </tbody>
    </table>

    {{vm.processedEvents | json}}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{repo.name}}</div>

        <table class="table"></table>
    </div>
</div>
